.table_container {
  width: 100%;
  animation: dropdown 300ms ease-in-out;
}

@keyframes dropdown {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

.table {
  background-color: #e5e5e5;
  margin: 0%;
  width: 100%;
}

.heading {
  margin: 0%;
  background-color: #14213d;
  text-align: center;
  color: #e5e5e5;
}

tr td:nth-of-type(2n) {
  text-align: center;
}
